<div class="card w-96 bg-base-100 shadow-xl">
  <figure>
    <img src="{{ menu?.image }}" alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {{ menu?.name }}
      <div class="badge badge-secondary">{{ menu?.price }}</div>
    </h2>
    <p>{{ menu?.description }}</p>
    <div class="card-actions justify-end">
      <app-update [id]="menu?.menuId" (formSubmitted)="onUpdateMenu($event)" />

      <div class="badge badge-outline">Fashion</div>
      <div class="badge badge-error" (click)="onDeleteMenu()">Delete</div>
    </div>
  </div>
</div>
