<label for="{{ id }}" class="btn">open modal</label>

<!-- Put this part before </body> tag -->
<input type="checkbox" id="{{ id }}" class="modal-toggle" />
<div class="modal" role="dialog ">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">This modal works with a hidden checkbox!</p>
    <form
      method="dialog"
      [formGroup]="menuForm"
      (ngSubmit)="submitForm()"
      class="flex flex-col gap-6"
    >
      <input
        formControlName="name"
        type="text"
        placeholder="Nombre"
        class="input input-bordered input-primary w-full max-w-xs"
      />
      <input
        formControlName="description"
        type="text"
        placeholder="Descripcion"
        class="input input-bordered input-primary w-full max-w-xs"
      />
      <input
        formControlName="price"
        type="number"
        placeholder="precio"
        class="input input-bordered input-primary w-full max-w-xs"
      />
      <input
        formControlName="image"
        type="text"
        placeholder="Imagen"
        class="input input-bordered input-primary w-full max-w-xs"
      />
      <input
        formControlName="categoryId"
        type="text"
        placeholder="Category Id"
        class="input input-bordered input-primary w-full max-w-xs"
      />
      <button class="modal-backdrop" type="submit" class="btn">Crear</button>
    </form>
  </div>
  <label class="modal-backdrop" for="{{ id }}">Close</label>
</div>
